.container-details {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.div-detalles {
    text-align: center;
    margin: 10px;
    width: fit-content;

}

.div-detalles img {
    width: 800px;
    height: 600px;
    height: auto;

}

.div-detalles button {

    margin-bottom: 20px;
}