.search-div {
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}

.search-div h2 {
    font-family: 'Bebas Neue', cursive;
    margin-left: 20px;

}