.card {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: bisque;
   border: 2px solid black;
   width: 200px;
   height: 300px;
   padding: 10px 10px;
   margin: 10px 10px;
}

img {

    width:170px;
    height:114px;
}

.card h4 {
    
    padding: 3px;
    margin: 0px;
}

.card p {
    padding: 3px;
    margin: 0px;
}

.btn-cerrar {
    margin: 5px;
    margin-top: 15px;
    margin-right: 15px;
    cursor: pointer

}